
{% extends "base.html" %}

{% block title %} {{title}} {% endblock %}

{% block body_content %}


    <header>
      <div class="navbar navbar-dark bg-dark box-shadow">
      </div>
    </header>

      <section class="jumbotron text-center bg-white">
          <h1 class="jumbotron-heading">Students</h1>
      </section>



     <div class="album py-5 bg-dark">

        <div class="container">
          <div class="row">
               {% for student in students %}
            <div class="col-md-3">
              <div class="card mb-4 box-shadow">
                <h2> {{ student.name }} {{ student.surname }}</h2>
                <div class="card-body">

                  <p class="card-text"> <strong> Normalized mame: </strong> {{ student.normalized_name }}<strong>  <br>  Age: </strong> {{ student.age }} <br>
                      <strong> Sex: </strong> {{ student.sex }} <br> <strong> Addess: </strong> {{ student.address }}
                    <br> <strong> Birthday: </strong> {{ student.birthday }} <br> <strong> Email: </strong> {{ student.email }}  <br>
                      <strong> Subject: </strong> {{ student.subject.title }}  <br>
                      <strong> Book: </strong> {{ student.book.title }}  <br>

                      <strong> Social network: </strong> {{ student.social_url }}  </p>
                    <p class="card-text"> <strong> Description: </strong> {{ student.description }}  </p>


                    <div class="btn-group">
                      <a href="{% url 'update' id=student.id %}">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button></a>
                    </div>

                </div>
              </div>
            </div>
         {% endfor %}
          </div>
        </div>
      </div>
    </div>
    </main>

{% endblock %}

